# requirements.txt for credit-scoring-model
python==3.10
pandas~=2.3.0
numpy~=2.2.6
scikit-learn
matplotlib~=3.10.0
seaborn~=0.13.2
jupyterlab
notebook
xgboost
lightgbm
ipywidgets
shap
category_encoders
imbalanced-learn
mlflow

scipy~=1.15.3